body {
  background-color: beige;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 70px;
}
.name {
  color: red;
}

img {
  width: 400px;
  height: 500px;
  border: 20px lightblue solid;
  border-radius: 50%;
  box-shadow: 2px 5px 10px blue;
}

img:hover {
  border: 20px lightcoral solid;
  transform: scale(1.1);
}

.header p {
  font-size: 25px;
  font-family: 'Arial';
  font-style: italic;
}

.skills {
  font-size: 20px;
}
.skills h2,
.form h2 {
  color: brown;
}
.skills li {
  color: green;
}

form {
  font-size: 30px;
}

input {
  font-size: 30px;
}

button {
  font-size: 30px;
  color: white;
  background-color: black;
}
button:hover {
  color: black;
  background-color: white;
}

.projects {
  font-size: 30px;
  color: brown;
}
a {
  text-align: center;
}

.copyrights {
  color: blueviolet;
  font-size: 20px;
  text-align: center;
}
